.MuiDropzoneArea-icon{
  color: #999999 !important;
  width: 80px !important;
  height: 80px !important;
}

.MuiSpeedDial-fab{
  background-color: #f50057 !important;
  background-image: linear-gradient(
    90deg,#e0238c,#f22076 47.43%,#f96666);    
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: #f50057 !important;
}

.MuiFormLabel-root.Mui-focused{
  color: #f50057 !important;
}

.MuiSpeedDialAction-fab{
  background-color: #25175a !important;
  color: #fff !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiTab-wrapper{
  flex-direction: row !important;
  justify-content: left !important;
}

.MuiTab-labelIcon{
  min-height: 64px !important;
}

.MuiListItemText-primary{
  font-family: Karla, "sans-serif" !important;
  font-weight: 800 !important;
  font-size: 1.2rem !important;
  background-image: -webkit-gradient(linear,left top,right top,from(#e0238c),color-stop(47.43%,#f22076),to(#f96666));
  background-image: -webkit-linear-gradient(left,#e0238c,#f22076 47.43%,#f96666);
  background-image: -o-linear-gradient(left,#e0238c,#f22076 47.43%,#f96666);
  background-image: linear-gradient(
90deg,#e0238c,#f22076 47.43%,#f96666);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  word-break: break-word;
  color: #000;
}

.MuiTab-wrapper{
  font-family: Karla, sans-serif;
}