.MuiDropzoneArea-icon{
  color: #f50057 !important;
  width: 80px !important;
  height: 80px !important;
}

.MuiSpeedDial-fab{
  background-color: #f50057 !important;
}

.MuiSpeedDialAction-fab{
  background-color: #25175a !important;
  color: #fff !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiTab-wrapper{
  flex-direction: row !important;
  justify-content: left !important;
}